<script setup lang="ts">
  import { useStore } from "@/store"
  import { onMounted, computed } from "vue"
  import { generateRandomNumber } from "@/utils/generateRandomNumber"

  const store = useStore()

  onMounted(() => store.fetchCatFacts())

  const randomLines = computed(() => {
    const lines = []
    const numberOfLines = generateRandomNumber(2, 5, { shouldRound: true })

    for (let line = 0; line < numberOfLines; line++) {
      const width = generateRandomNumber(50, 100)
      lines.push({ width: `${width}%` })
    }

    return lines
  })
</script>

<template>
  <h3 class="text-2xl font-semibold text-[#22223B] mb-6">CAT FACT:</h3>
  <transition
    name="fade"
    mode="out-in"
    enter-active-class="duration-300 ease-out opacity-0"
    enter-to-class="opacity-100"
    leave-active-class="duration-200 ease-in"
    leave-class="opacity-100"
    leave-to-class="opacity-0"
  >
    <div v-if="store.isLoading" class="flex flex-col gap-2 max-w-[247px]">
      <div
        v-for="(line, index) in randomLines"
        :key="index"
        :style="{ width: line.width }"
        class="bg-gray-300 h-5 rounded-2xl animate-pulse"
      ></div>
    </div>
    <p v-else :key="store.catFact" class="text-[#4A4E69] w-[247px] text-lg">{{ store.catFact }}</p>
  </transition>
  <button @click="store.fetchCatFacts" class="flex items-center leading-none bg-[#4A4E69] text-[#F2E9E4] rounded-md px-3 py-2 font-bold text-sm mt-6 shadow-md">
    <!-- https://github.com/ERPedersen/nuxt-mdi/issues/5 -->
    <MdiIcon class="buggy-icon" icon="mdiReplay" />
    <p class="mx-auto">GET A RANDOM CAT FACT</p>
  </button>
</template>