<template>
  <div class="grid sm:grid-cols-[repeat(3,_200px)] sm:grid-rows-[repeat(2,_200px)] gap-4 self-center grid-cols-[repeat(2,_125px)] grid-rows-[repeat(3,_125px)]">
    <img class="rounded-lg col-span-2 row-span-2" src="/images/kitty1.webp" alt="Kitten">
    <img class="rounded-lg" src="/images/kitty2.webp" alt="Kitten">
    <img class="rounded-lg" src="/images/kitty3.webp" alt="Kitten">
  </div>
</template>