<script setup lang="ts">
  import KittyPictures from "@/components/KittyPictures.vue"
  import CatFacts from "@/components/CatFacts.vue"
</script>

<template>
  <NuxtLayout>
    <div class="flex flex-wrap justify-center align-center w-full flex-grow p-6 gap-x-16 gap-y-4">
      <div class="flex flex-col justify-center">
        <CatFacts />
      </div>
      <KittyPictures />
    </div>
  </NuxtLayout>
</template>
