<template>
  <main class="flex flex-col min-h-screen font-jost">
    <section class="bg-[#22223B] flex justify-center items-end p-8">
      <h1 class="text-[#F2E9E4] text-[42px] font-bold text-center">THE DEFSAFE CAT FACTS PAGE</h1>
    </section>
    <section class="flex flex-col flex-grow bg-[#C9ADA7]">
      <slot />
    </section>
  </main>
</template>